<a href="https://colab.research.google.com/github/JoaoAugustoMV/JupyterNotebooks/blob/main/Camara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pacote para transformar tabelas de arquivo pdf em DataFrames

In [3]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 19.1 MB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.3.0

In [4]:
import pandas as pd
import tabula

Há varias tabelas no arquivos mas sempre as mesmas colunas

In [6]:
tabela = tabula.read_pdf('/content/drive/MyDrive/DataSetsDrive/Camara_01-2022.pdf', pages='all')
len(tabela)

Got stderr: Feb 03, 2022 10:02:14 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Feb 03, 2022 10:02:14 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Feb 03, 2022 10:02:14 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts

8

In [14]:
tabela[0]

    MATRÍCULA  ...      LÍQUIDO
0        1976  ...  R$ 2.447,37
1        1747  ...  R$ 2.370,03
2        2366  ...  R$ 1.793,27
3        1375  ...  R$ 5.545,39
4        2145  ...  R$ 3.818,87
5        1935  ...  R$ 3.652,49
6        1778  ...  R$ 3.766,73
7        1773  ...  R$ 1.745,53
8        2245  ...  R$ 3.818,87
9        2170  ...  R$ 3.818,87
10         21  ...  R$ 5.955,97
11       1610  ...  R$ 4.102,50
12       2121  ...  R$ 3.766,73
13       2215  ...  R$ 3.766,73
14       1937  ...  R$ 2.259,63
15       2192  ...  R$ 1.745,53
16       1402  ...  R$ 4.444,14
17       1811  ...         R$ -
18       2327  ...  R$ 3.766,73
19         47  ...  R$ 3.219,30
20        590  ...    R$ 435,01
21       2206  ...  R$ 3.871,00
22       2073  ...  R$ 1.931,04
23       1764  ...  R$ 2.403,31
24       2216  ...  R$ 2.610,15
25       1868  ...    R$ 931,81
26       1768  ...  R$ 3.462,98
27       1826  ...  R$ 3.770,87
28       2179  ...  R$ 3.766,73
29       1419  ...  R$ 2.093,60
30        126  ...  R$ 6.771,61
31       2356  ...  R$ 1.599,82
32       1421  ...  R$ 4.383,43
33       1902  ...  R$ 2.823,36
34        745  ...  R$ 3.231,95
35       2071  ...  R$ 2.084,13
36       1960  ...         R$ -
37       1957  ...  R$ 3.762,43
38       1391  ...         R$ -
39        661  ...         R$ -
40       1403  ...  R$ 2.108,97
41       1770  ...  R$ 3.871,00

[42 rows x 12 columns]

In [11]:
tabela[1]

    MATRÍCULA  ...      LÍQUIDO
0        1986  ...  R$ 2.181,05
1        2264  ...  R$ 3.871,00
2        2019  ...  R$ 2.836,51
3          46  ...  R$ 6.916,25
4        2109  ...  R$ 3.923,14
5        2083  ...  R$ 2.436,58
6        1991  ...  R$ 1.268,26
7        2182  ...  R$ 5.585,32
8        2195  ...  R$ 3.766,73
9         746  ...  R$ 2.154,61
10       2154  ...         R$ -
11         19  ...  R$ 8.001,35
12         72  ...  R$ 4.159,62
13       1963  ...  R$ 3.871,00
14         73  ...  R$ 1.265,98
15       2162  ...         R$ -
16        102  ...  R$ 7.128,00
17       1943  ...  R$ 3.593,39
18       2156  ...         R$ -
19       2210  ...  R$ 1.745,53
20       2254  ...  R$ 4.059,10
21        595  ...  R$ 4.722,98
22       1766  ...  R$ 5.134,21
23       2349  ...  R$ 1.685,62
24       2168  ...  R$ 1.745,53
25       2361  ...    R$ 999,13
26         93  ...  R$ 6.418,49
27         55  ...  R$ 5.597,79
28       2086  ...  R$ 2.851,61
29       2265  ...  R$ 3.577,30
30       1793  ...  R$ 1.745,53
31       2190  ...  R$ 3.818,87
32         81  ...  R$ 4.051,79
33       1745  ...  R$ 3.442,89
34       2199  ...  R$ 5.545,39
35         50  ...  R$ 3.392,63
36       1781  ...  R$ 3.470,36
37       1157  ...  R$ 1.690,82
38       2185  ...  R$ 1.745,53
39       1871  ...  R$ 3.766,73
40       2286  ...  R$ 5.545,39
41       2226  ...  R$ 5.545,39

[42 rows x 12 columns]

Juntas as tabelas em um único Dataframe

In [89]:
df = pd.concat(tabela, verify_integrity=True, ignore_index=True)

# Transformar as colunas com valores em float

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MATRÍCULA         331 non-null    int64
 1   NOME              331 non-null    object
 2   NOME CARGO        331 non-null    object
 3   SALÁRIO BASE      331 non-null    object
 4   TRIÊNIO           331 non-null    object
 5   ADICIONAIS        331 non-null    object
 6   OUTRAS VANTAGENS  331 non-null    object
 7   PREVIDÊNCIA       331 non-null    object
 8   IMPOSTO DE RENDA  331 non-null    object
 9   ADIANTAMENTO      331 non-null    object
 10  OUTROS DESCONTOS  331 non-null    object
 11  LÍQUIDO           331 non-null    object
dtypes: int64(1), object(11)
memory usage: 31.2+ KB

Colunas object

In [48]:
df.drop(['MATRÍCULA', 'NOME', 'NOME CARGO'], axis=1)

     SALÁRIO BASE      TRIÊNIO  ... OUTROS DESCONTOS      LÍQUIDO
0     R$ 3.016,95         R$ -  ...     -R$ 1.369,42  R$ 2.447,37
1     R$ 3.530,93    R$ 176,55  ...     -R$ 1.017,60  R$ 2.370,03
2     R$ 1.720,87         R$ -  ...       -R$ 178,20  R$ 1.793,27
3    R$ 14.440,59         R$ -  ...       -R$ 138,60  R$ 5.545,39
4     R$ 9.697,48         R$ -  ...       -R$ 138,60  R$ 3.818,87
..            ...          ...  ...              ...          ...
326  R$ 12.661,12         R$ -  ...    -R$ 12.719,37         R$ -
327   R$ 9.697,48         R$ -  ...     -R$ 1.586,23  R$ 3.766,73
328   R$ 9.161,42         R$ -  ...       -R$ 224,40  R$ 3.479,92
329   R$ 9.697,48         R$ -  ...       -R$ 138,60  R$ 4.727,36
330  R$ 16.408,27  R$ 1.640,83  ...       -R$ 138,60  R$ 8.115,93

[331 rows x 9 columns]

## Problemas com a formatação BR de numeros

In [81]:
for col in df.drop(['MATRÍCULA', 'NOME', 'NOME CARGO'], axis=1):
  pd.to_numeric(df[col])

ValueError: ignored

### Remover os '.'(pontos) e depois substituir as ','(virgulas) por '.'

In [92]:
for col in df.drop(['MATRÍCULA', 'NOME', 'NOME CARGO'], axis=1):
  df[col] = [x.replace('.', '') for x in df[col]]
  df[col] = [x.replace(',', '.') for x in df[col]]

In [93]:
df

     MATRÍCULA                              NOME  ... OUTROS DESCONTOS     LÍQUIDO
0         1976            ADELINO DA SILVA LOPES  ...      -R$ 1369.42  R$ 2447.37
1         1747        ADEMIR DE SOUSA NASCIMENTO  ...      -R$ 1017.60  R$ 2370.03
2         2366       ADONIL APARECIDO DE ALMEIDA  ...       -R$ 178.20  R$ 1793.27
3         1375             ADRIANA BRIGIDO RUSSO  ...       -R$ 138.60  R$ 5545.39
4         2145  ADRIANA CORREIA LIMA DE OLIVEIRA  ...       -R$ 138.60  R$ 3818.87
..         ...                               ...  ...              ...         ...
326       1818                WILSON ZUFA JUNIOR  ...     -R$ 12719.37        R$ -
327       1956           YOLENI PIRES DOS SANTOS  ...      -R$ 1586.23  R$ 3766.73
328       2357                     YURIE KIKKAWA  ...       -R$ 224.40  R$ 3479.92
329        860         ZENILDA FERREIRA DA SILVA  ...       -R$ 138.60  R$ 4727.36
330        589                    ZILDA SILVEIRA  ...       -R$ 138.60  R$ 8115.93

[331 rows x 12 columns]

### Remove os 'R$'

In [94]:
for col in df.drop(['MATRÍCULA', 'NOME', 'NOME CARGO'], axis=1):
  df[col] = [x.replace('R$ ', '') for x in df[col]]

In [95]:
df

     MATRÍCULA                              NOME  ... OUTROS DESCONTOS  LÍQUIDO
0         1976            ADELINO DA SILVA LOPES  ...         -1369.42  2447.37
1         1747        ADEMIR DE SOUSA NASCIMENTO  ...         -1017.60  2370.03
2         2366       ADONIL APARECIDO DE ALMEIDA  ...          -178.20  1793.27
3         1375             ADRIANA BRIGIDO RUSSO  ...          -138.60  5545.39
4         2145  ADRIANA CORREIA LIMA DE OLIVEIRA  ...          -138.60  3818.87
..         ...                               ...  ...              ...      ...
326       1818                WILSON ZUFA JUNIOR  ...        -12719.37        -
327       1956           YOLENI PIRES DOS SANTOS  ...         -1586.23  3766.73
328       2357                     YURIE KIKKAWA  ...          -224.40  3479.92
329        860         ZENILDA FERREIRA DA SILVA  ...          -138.60  4727.36
330        589                    ZILDA SILVEIRA  ...          -138.60  8115.93

[331 rows x 12 columns]

### Substitui os '-' por 0

In [96]:
df.replace('-', 0, inplace=True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MATRÍCULA         331 non-null    int64
 1   NOME              331 non-null    object
 2   NOME CARGO        331 non-null    object
 3   SALÁRIO BASE      331 non-null    object
 4   TRIÊNIO           331 non-null    object
 5   ADICIONAIS        331 non-null    object
 6   OUTRAS VANTAGENS  331 non-null    object
 7   PREVIDÊNCIA       331 non-null    object
 8   IMPOSTO DE RENDA  331 non-null    object
 9   ADIANTAMENTO      331 non-null    object
 10  OUTROS DESCONTOS  331 non-null    object
 11  LÍQUIDO           331 non-null    object
dtypes: int64(1), object(11)
memory usage: 31.2+ KB

## Transformação de str para float

In [100]:
for col in df.drop(['MATRÍCULA', 'NOME', 'NOME CARGO'], axis=1):
  df[col] = pd.to_numeric(df[col])

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MATRÍCULA         331 non-null    int64
 1   NOME              331 non-null    object
 2   NOME CARGO        331 non-null    object
 3   SALÁRIO BASE      331 non-null    float64
 4   TRIÊNIO           331 non-null    float64
 5   ADICIONAIS        331 non-null    float64
 6   OUTRAS VANTAGENS  331 non-null    float64
 7   PREVIDÊNCIA       331 non-null    float64
 8   IMPOSTO DE RENDA  331 non-null    float64
 9   ADIANTAMENTO      331 non-null    float64
 10  OUTROS DESCONTOS  331 non-null    float64
 11  LÍQUIDO           331 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 31.2+ KB

# Preparando dados

## Add coluna Ganho mensal(adiantamento + liquido)

## Add coluna Desconto Total(soma de todos descontos)

# Análise Exploratoria de Dados

In [102]:
df.describe()

         MATRÍCULA  SALÁRIO BASE  ...  OUTROS DESCONTOS       LÍQUIDO
count   331.000000    331.000000  ...        331.000000    331.000000
mean   1653.728097   8540.864592  ...      -2909.541390   3360.506163
std     810.369328   4720.486048  ...       4704.680435   2162.953633
min      12.000000    286.810000  ...     -35896.270000      0.000000
25%    1399.500000   3530.930000  ...      -2989.050000   1761.540000
50%    2038.000000   9697.480000  ...       -350.460000   3407.330000
75%    2215.500000  10693.230000  ...       -138.600000   4000.730000
max    2374.000000  32811.170000  ...          0.000000  15625.380000

[8 rows x 10 columns]